services:
  - type: web
    name: sofine-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 5001
      - key: JWT_SECRET
        generateValue: true
